<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <title>Adicionar Nova Experiência</title>
<body>
    <div class='centro'>
    
    <h1>Adicionar Nova Experiência</h1>
    <div class='zoom'>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
    </form>
</body>
    </div>
 
    </html>
